<ion-header>
  <ion-toolbar>
    <ion-title>
      Generate PDF
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Visualización del PDF -->
  <ng-container *ngIf="pdfDataUrl">
    <iframe [src]="pdfDataUrl ? sanitizer.bypassSecurityTrustResourceUrl(pdfDataUrl) : null" width="100%" height="600px" frameborder="0"></iframe>
  </ng-container>
  
  <!-- Botón para generar y descargar el PDF -->
  <ion-button (click)="generatePDF(invoice, productos)">
    Generate PDF
  </ion-button>
</ion-content>
