<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>facturacionform3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title size="large">Datos de Pago</ion-title>

    <form [formGroup]="formData">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Metodo de Pago</ion-label>
          <ion-input placeholder="Metodo de Pago" formControlName="Metodo" type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Nombre del Banco</ion-label>
          <ion-input placeholder="NombreBanco" formControlName="NombreBanco" type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Numero de Cuenta</ion-label>
          <ion-input placeholder="Numero de Cuenta" formControlName="Precio" type="number"></ion-input>
        </ion-item>
        <ion-button (click)="pdfLogic()" expand="block">Siguiente</ion-button>
      </ion-list>
    </form>
  </ion-toolbar>
</ion-content>