ion-grid {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
  
ion-row {
    display: table-row;
}
  
ion-col {
    display: table-cell;
    border: 1px solid #9e2727;
    padding: 8px;
    text-align: center;
}
  
.box {
    font-weight: bold;
}
  
ion-row:first-child .box {
    font-weight: bold;
}