<div *ngIf="invoice; else loading">
    <div *ngIf="!error; else errorDisplay">
      <h2>Facturas:</h2>
      <div *ngFor="let factura of invoice">
        <div>
          <p><strong>ID:</strong> {{ factura.id }}</p>
          <p><strong>Fecha de Creación:</strong> {{ factura.fechaCreacion }}</p>
          <p><strong>Fecha de Vencimiento:</strong> {{ factura.fechaVencimiento }}</p>
          <p><strong>Remitente:</strong> {{ factura.remitente.nombre }} {{ factura.remitente.apellido }}</p>
          <p><strong>Destinatario:</strong> {{ factura.destinatario.nombre }} {{ factura.destinatario.apellido }}</p>

          Productos:
          <div *ngFor="let producto of productos">
            <p>Nombre del producto:{{producto.nombre}}</p>
            <p>Cantidad:{{producto.cantidad}}</p>
          </div>

          Metodo de Pago:
          <div class="metodo">
            <p><strong>Nombre Tarjeta:</strong>{{metodoPago.nombre}}</p>
            <p><strong>Numero tarjeta:</strong>{{metodoPago.numero}}</p>
            <p><strong>Fecha Vencimiento tarjeta:</strong>{{metodoPago.fechaExpiracion}}</p>
            <p><strong>CCV:</strong>{{metodoPago.codigo}}</p>
            <p><strong>Tipo:</strong>{{metodoPago.tipo}}</p>

          </div>
        </div>
        <hr>
      </div>
    </div>
    <ng-template #errorDisplay>
      <p>{{ error }}</p>
    </ng-template>
  </div>
  <ng-template #loading>
    <p>Cargando...</p>
  </ng-template>
<ion-button (click)="searchInvoice()">VerFactura</ion-button>