<div class="dates">
  <ion-title class="dateTitle">Seleccione las fechas establecidas en la factura</ion-title>

  <ion-label class="labelTime">
    Ingrese la fecha de creación de la factura
  </ion-label>
  <ion-datetime
    locale="es-CO"
    class="datetime"
    [(ngModel)]="fechaCreacion"
    [value]="fechaActual"
  ></ion-datetime>

  <ion-label class="labelTime">
    Ingrese la fecha de vencimiento de la factura
  </ion-label>
  <ion-datetime
    locale="es-CO"
    class="datetime"
    [(ngModel)]="fechaVencimiento"
    [value]="fechaActual"
  ></ion-datetime>

  <ion-button (click)="submitDates()">Enviar Datos</ion-button>

  <div *ngIf="error">
    <p class="ion-text-center" style="color: red;">{{errorMsg}}</p>
  </div>
</div>
