<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="facturacion" href="/tabs/facturacion">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Facturacion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pdfs" href="/tabs/pdfs">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>PDF</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" href="/tabs/chat">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Ceres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
