<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-checkbox class="checkboxList" [(ngModel)]="isCheckedRelation" disabled>Remitente y Destinatario</ion-checkbox>
  <div *ngIf="showInfoUser">
    <app-info-usuario (relationValidated)="handleRelationValidated($event)"></app-info-usuario>
  </div>
  <br>
  <ion-checkbox class="checkboxList" [(ngModel)]="isCheckedDates" disabled>Fechas de Creacion y Expiracion</ion-checkbox>
  <div *ngIf="showDates">
    <app-fechas (datesValidated)="verificacionFechas($event)"></app-fechas>
  </div>
  <br>
  <ion-checkbox class="checkboxList" [(ngModel)]="isCheckedAddProducts" disabled>Agregar Productos a la tienda</ion-checkbox>
  <div *ngIf="showAddProducts"> 
    <app-agregar-producto (addproductsvalidated)="verificacionProductosAnadidos($event)"></app-agregar-producto>
  </div>
  <ion-checkbox class="checkboxList" [(ngModel)]="isCheckedProducts" disabled>Lista de Productos</ion-checkbox>
  <div *ngIf="showProducts">
    <app-productos (productsValidated)="verificacionProductos($event)"></app-productos>
  </div>
  <ion-checkbox class="checkboxList" [(ngModel)]="isCheckedMethod" disabled>Metodo de Pago</ion-checkbox>
  <div *ngIf="showMethod">
      <app-metodo-pago (methodValidated)="verificacionMetodo($event)"></app-metodo-pago>
  </div>



  <div *ngIf="showInfo">
    Informacion de la factura:
    <app-facturafinal></app-facturafinal>
  </div>

  <div *ngIf="showFinalButton">
    <ion-button>Generar PDF</ion-button>
  </div>

</ion-content>